.App {
	overflow-wrap: break-word;
	text-align: center;
}

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: rgb(174, 197, 238);
	background: linear-gradient(
		350deg,
		rgba(174, 197, 238, 1) 0%,
		rgba(148, 208, 233, 1) 100%
	);
	border-radius: 6px;
}

header {
	background-image: url("../images/Image1.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
	height: 100vh;
	background-color: #d3d7da; /* Used if the image is unavailable */
}

.introText {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 10%;
	color: #2ba2b6;
	font-family: "Poppins", sans-serif;
}

.introText h2 {
	font-size: 50px;
	letter-spacing: 2px;
	font-family: "Abril Fatface", cursive;
}
.introText h4 {
	letter-spacing: 0.5px;
}
section h1 {
	font-family: "Michroma", sans-serif;
	font-size: xx-large;
}
section h4,
h3 {
	font-family: "Varela Round", sans-serif;
}

p {
	font-family: "Poppins", sans-serif;
}

#ceremony,
#photos {
	background-color: lightblue;
}

#story,
#accomodations {
	background-color: whitesmoke;
}

#registry {
	padding-top: 70px;
	padding-bottom: 200px;
	background-image: url("../images/Image2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#story,
#ceremony,
#accomodations,
#photos {
	padding-top: 80px;
	padding-bottom: 50px;
}

//media query for smaller screen size
//changes nav brand color and background
@media only screen and (max-width: 991px) {
	.introText {
		color: whitesmoke;
	}
	.introText h2 {
		font-size: 40px;
		letter-spacing: 1px;
	}
	.introText h4 {
		letter-spacing: 0px;
		font-size: 1rem;
	}
}

.image:hover {
	cursor: pointer;
	transform: scale(1.03, 1.03) rotate(0.1deg);
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 765px) {
	#registry {
		// background-image: url("../images/Image2.jpg");
		background-size: cover;
		background-position: 88% 100%;
		background-repeat: no-repeat;
	}
}
