.Footer {
	text-align: center;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #3b6978;
	padding-top: 30px;
	padding-bottom: 10px;
}

.Footer h3 {
	letter-spacing: 2px;
	font-family: "Fredericka the Great", cursive;
	color: white;
}
footer p {
	font-family: "Poppins", sans-serif;
}
.myName {
	color: #ffeb99;
}
